.cursorImagesTrail {
  display: none;

  @media screen and (min-width: 780px) {
    display: contents;

    .trailImage {
      position: absolute;
      scale: 0;
      top: 0;
      left: 0;
      aspect-ratio: 16/9;
      object-fit: cover;
      border-radius: 0.5rem;
      pointer-events: none;
    }
  }
}
