.hero {
  position: relative;
  min-height: 100vh;
  align-items: end;

  .heroTitles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: end;

    .title {
      font-size: 8rem;
    }

    .subtitle {
      font-size: 3rem;
      transform: rotate(-3.78deg) translateY(-50%);
    }

    .title, .subtitle {
      text-transform: uppercase;
    }
  }

  .heroOverview {
    grid-area: 1 / 4 / 2 / 5;
    margin-bottom: 5rem;
    width: 50%;
  }
}
