:root[data-theme="light"] {
  --background-color: #ffffff;
  --text-color: #1a1a1a;
  --title-color: #e0e0e0;
  --primary-color: #1a1a1a;
  --switcher-border: #ffffff;
  --switcher-bg: #ffffff42;
}

:root[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --title-color: #e0e0e0;
  --primary-color: #ffffff;
  --switcher-border: transparent;
  --switcher-bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1px;

  @media screen and (min-width: 780px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
