.linkContainer {
  position: relative;
  padding: 0.25rem 3rem 0.25rem 0;
  cursor: pointer;

  .link {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 100;
  }

  .linkHover {
    &::before {
      transform: scaleX(1);
    }
  }

  @media screen and (min-width: 780px) {
    .link {
      font-size: 2rem;
      line-height: 2.25rem;
    }
  }

  .image{
    z-index: 50;
    position: absolute;
    top: -50%;
    left: 0;
    width: 300px;
    scale: 0;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 0.5rem;
  }
}
