.masked {
  position: relative;
  padding: 0rem;
  overflow: hidden;
  max-height: fit-content;
}

.ref {
  visibility: hidden;
  line-height: 0;
}

.clone1 {
  position: absolute;
}

.clone2 {
  position: absolute;
}

.clone2 {
  position: absolute;
}
