.footer {
  position: relative;
  height: 100vh;
  overflow: hidden;

  .marquee {
    position: absolute;
    top: 5%;

    .marqueeText{
      font-size: 25rem;
      font-weight: 600;
      font-family: var(--font-thunder);
      grid-column: span 4;
      line-height: 0%;
      text-transform: uppercase;

      &::first-letter {
        font-family: var(--font-dirtyline);
        font-weight: 500;
      }
    }
  }

  .info {
    grid-column: 1 / 5;
    height: fit-content;
    display: flex;
    padding: 0 2rem 0 2rem;
    margin-top: calc(25rem / 2);

    .job, .school {
      max-width: 45%;
      font-family: var(--font-thunder);
      font-weight: 100;
      letter-spacing: 3px;
      line-height: 1.25rem;
    }

    .school {
      margin-left: auto;
      text-align: right;
    }


    @media screen and (min-width: 780px) {
      .job, .school {
        max-width: 20%;
        line-height: 1rem;
      }
    }
  }

  .socialList {
    padding: 2rem;
    grid-column: 4 / 5;
    align-self: end;
    justify-self: end;
  }

}
